{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Error 404</title>

    <link rel="stylesheet" href="{% static '/vendor/fontawesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/vendor/simple-line-icons/css/simple-line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" id="bscss">
    <link rel="stylesheet" href="{% static 'css/app.css' %}" id="maincss">
</head>

<body>
    <div class="wrapper">
        <div class="abs-center wd-xl">
            <div class="text-center mb-xl">
                <div class="text-lg mb-lg">404</div>
                <p class="lead m0">Hmmm!.</p>
                <p>No encontramos lo que buscabas</p>
            </div>
            <ul class="list-inline text-center text-sm mb-xl">
                <li>
                    <a href="/" class="text-muted">Inicio</a>
                </li>
            </ul>
            <div class="p-lg text-center">
                <span>&copy;</span>
                <span>2017</span>
                <span>-</span>
                <span>Gestor de Comedores</span>
            </div>
        </div>
    </div>
</body>

</html>
