{% load static %}
{% load cache %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Gestor de Comedores{% block titlePage%}{% endblock %}</title>

    {% cache 500 _css %}
    <link rel="stylesheet" href="{% static 'vendor/fontawesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/animate.css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/chosen/chosen.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/chosen/bootstrap-chosen.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/whirl/dist/whirl.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/multi-select/css/multi-select.dist.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" id="bscss">
    <link rel="stylesheet" href="{% static 'css/app.css' %}" id="maincss">
    
    {% endcache %}
    <style type="text/css">
        .topnavbar {
            background: white !important;
        }
        .navbar-header {
            height: 64px;
        }
    </style>

    {% block css %}{% endblock %}
</head>
<body>
    <div class="wrapper">
        <header class="topnavbar-wrapper">
            <nav role="navigation" class="navbar topnavbar">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">
                        <div class="brand-logo">
                            <img src="{% static 'img/logo.jpg' %}" width="100%" />
                        </div>
                        <div class="brand-logo-collapsed">
                            <img src="{% static 'img/logo_alone.jpg' %}" width="165%" />
                        </div>
                    </a>
                </div>

                <div class="nav-wrapper">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#" data-toggle-state="aside-collapsed" class="hidden-xs">
                                <em class="fa fa-navicon" style="color: gray;"></em>
                            </a>
                            <a href="#" data-toggle-state="aside-toggled" data-no-persist="true" class="visible-xs sidebar-toggle">
                                <em class="fa fa-navicon" style="color: gray;"></em>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <aside class="aside">
            <div class="aside-inner">
                <nav data-sidebar-anyclick-close="" class="sidebar">
                    <ul class="nav">
                        <li class="has-user-block">
                            <div id="user-block" class="collapse in">
                                <div class="item user-block">
                                    <div class="user-block-picture">
                                        <div class="user-block-status">
                                            <img src="{% static 'img/user.png' %}" alt="Avatar" width="60" height="60" class="img-thumbnail img-circle">
                                            <div class="circle circle-success circle-lg"></div>
                                        </div>
                                    </div>
                                    <div class="user-block-info">
                                        <span class="user-block-name">Hola, {{request.user.first_name}}</span>
                                        <a href="/profile" class="user-block-role">Mi perfil</a>
                                        <a href="/logout" class="user-block-role">Cerrar sesión</a>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="nav-heading ">
                            <span>Principal</span>
                        </li>
                        <li {% if '/' == request.path %}class="active"{% endif %}>
                            <a href="/" title="Inicio">
                                <em class="fa fa-home"></em>
                                <span>Inicio</span>
                            </a>
                        </li>
                        <li {% if '/events' in request.path %}class="active"{% endif %}>
                            <a href="/events" title="Eventos">
                                <em class="fa fa-calendar-o"></em>
                                <span>Periodos</span>
                            </a>
                        </li>
                        <li class="nav-heading ">
                            <span>Catalogos</span>
                        </li>
                        {% if request.user.is_superuser %}
                        <li {% if '/users' in request.path %}class="active"{% endif %}>
                            <a href="/users" title="Usuarios">
                                <em class="fa fa-users"></em>
                                <span>Usuarios</span>
                            </a>
                        </li>
                        {% endif %}
                        <li {% if '/schools' in request.path %}class="active"{% endif %}>
                            <a href="/schools" title="Escuelas">
                                <em class="fa fa-building"></em>
                                <span>Escuelas</span>
                            </a>
                        </li>
                        <li {% if '/students' in request.path %}class="active"{% endif %}>
                            <a href="/students" title="Alumnos">
                                <em class="fa fa-graduation-cap"></em>
                                <span>Alumnos</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>

        <section>
            <div class="content-wrapper">
                {% block title %}{% endblock %}
                <div class="row">
                    <div class="col-xs-12">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>

        </section>

        <footer>
            <span>&copy; 2017 - Gestor de Comedores</span>
        </footer>
    </div>
    {% cache 500 _scripts %}
    <script src="{% static 'vendor/modernizr/modernizr.custom.js' %}"></script>
    <script src="{% static 'vendor/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'vendor/jQuery-Storage-API/jquery.storageapi.js' %}"></script>
    <script src="{% static 'vendor/jquery.easing/js/jquery.easing.js' %}"></script>
    <script src="{% static 'vendor/animo.js/animo.js' %}"></script>
    <script src="{% static 'vendor/jquery-localize-i18n/dist/jquery.localize.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js' %}"></script>
    <script src="{% static 'vendor/multi-select/js/jquery.multi-select.js' %}"></script>
    <script src="{% static 'vendor/multi-select/js/quicksearch.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'vendor/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables-colvis/js/dataTables.colVis.js' %}"></script>
    <script src="{% static 'vendor/datatables/media/js/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'vendor/datatables-buttons/js/dataTables.buttons.js' %}"></script>
    <script src="{% static 'vendor/datatables-buttons/js/buttons.bootstrap.js' %}"></script>
    <script src="{% static 'vendor/datatables-buttons/js/buttons.colVis.js' %}"></script>
    <script src="{% static 'vendor/datatables-buttons/js/buttons.flash.js' %}"></script>
    <script src="{% static 'vendor/datatables-buttons/js/buttons.html5.js' %}"></script>
    <script src="{% static 'vendor/datatables-buttons/js/buttons.print.js' %}"></script>
    <script src="{% static 'vendor/datatables-responsive/js/dataTables.responsive.js' %}"></script>
    <script src="{% static 'vendor/datatables-responsive/js/responsive.bootstrap.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-confirmation/bootstrap-confirmation.min.js' %}"></script>
    <script src="{% static 'vendor/chosen/chosen.jquery.min.js' %}"></script>
    <script src="{% static 'vendor/chosen/chosen.proto.min.js' %}"></script>
    {% endcache %}
    <script>
    $(function() {
        let getCookie = (name) => {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        });

        {% if messages %}
        {% for message in messages %}
        {% if message.level == 25 %}
        $.notify('{{message}}', {status: 'success'});
        {% endif %}
        {% endfor %}
        {% endif %}
    })
    </script>
    {% block scripts %}{% endblock %}
</body>
</html>
