<!DOCTYPE html>
<html>
<head>

    <title>Bienvenido {{first_name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--[if !mso]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->

    <style type="text/css">

    .ReadMsgBody { width: 100%; background-color: #FFFFFF; }
    .ExternalClass { width: 100%; background-color: #FFFFFF; }
    body { width: 100%; background-color: #FFFFFF; margin: 0; padding: 0; -webkit-font-smoothing: antialiased; font-family: Arial, Times, serif }
    table { border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; }

    @-ms-viewport{ width: device-width; }
    @media only screen and (max-width: 639px){
        .wrapper{ width:100%;  padding: 0 !important; }
    }
    @media only screen and (max-width: 480px){
        .centerClass{ margin:0 auto !important; }
        .imgClass{ width:100% !important; height:auto; }
        .wrapper{ width:320px; padding: 0 !important; }
        .container{ width:300px;  padding: 0 !important; }
        .mobile{ width:300px; display:block; padding: 0 !important; text-align:center !important;}
        *[class="mobileOff"] { width: 0px !important; display: none !important; }
        *[class*="mobileOn"] { display: block !important; max-height:none !important; }
    }

    </style>

    <!--[if gte mso 15]>
    <style type="text/css">
    table { font-size:1px; line-height:0; mso-margin-top-alt:1px;mso-line-height-rule: exactly; }
    * { mso-line-height-rule: exactly; }
</style>
<![endif]-->

</head>
<body marginwidth="0" marginheight="0" leftmargin="0" topmargin="0" style="background-color:#FFFFFF;  font-family:Arial,serif; margin:0; padding:0; min-width: 100%; -webkit-text-size-adjust:none; -ms-text-size-adjust:none;">

    <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF">
        <tr>
            <td width="100%" valign="top" align="center">
                <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF" style="border-bottom:1px solid #f3f3f3;">
                    <tr>
                        <td height="30" style="font-size:10px; line-height:10px;"> </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
                                <tr>
                                    <td width="600" class="mobile" align="center">

                                        <span style="color: #595959; font-size: 1.5em;">Bienvenido</span>

                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="35" style="font-size:10px; line-height:10px;"> </td>
                    </tr>
                </table>

                <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF">
                    <tr>
                        <td height="40" style="font-size:10px; line-height:10px;"> </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
                                <tr>
                                    <td width="600" class="mobile" align="center">

                                        <img src="https://i.imgur.com/9GrpNu6.jpg" width="100%" style="margin:0; padding:0; border:none; display:block; border-radius:8px;" border="0" class="imgClass" alt="" />

                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="40" style="font-size:10px; line-height:10px;"> </td>
                    </tr>
                </table>

                <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF">
                    <tr>
                        <td height="" style="font-size:10px; line-height:10px;"> </td>
                    </tr>
                    <tr>
                        <td align="center">

                            <!-- Start Container  -->
                            <table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
                                <tr>
                                    <td width="600" class="mobile" style="font-family:arial; font-size:18px; line-height:24px;" align="center">
                                        Hola <span style="color:#40a7ff;"><strong>{{first_name}}</strong></span>,
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20" style="font-size:10px; line-height:10px;"></td>
                                </tr>
                                <tr>
                                    <td width="600" class="mobile" align="center">

                                        <table width="500" class="mobile">
                                            <tr>
                                                <td style="font-family:arial; font-size:14px; line-height:24px; color:#aeaeae;" align="justify">

                                                    ¡Bienvenid@!, este correo lo has recibido ya que cumples con todos los requisitos para ser beneficiario del comedor universitarios de tu municipio.
                                                    <br /><br />
                                                    Estamos muy contentos que durante este periodo escolar Agosto - Diciembre 2017 serás beneficiado con un desayuno totalmente gratuito en el comedor o cafetería de tu universidad.
                                                    <br /><br />
                                                    A continuación en el siguiente link podrás descargar el código QR, el cual es único e intransferible, ya que será el medio por el cual diariamente accederás a tu desayuno.
                                                    <br />
                                                    <table width="170" cellpadding="0" cellspacing="0" align="center" border="0">
                                                        <tr>
                                                            <td width="170" height="46" bgcolor="#40a7ff" align="center" valign="middle" style="font-family: Arial, sans-serif; font-size: 16px; color: #ffffff; line-height:18px; -webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px; font-weight:bold;">
                                                                <a href="{{link}}" target="_blank" alias="" style="font-family: Arial, sans-serif; text-decoration: none; color: #ffffff;">
                                                                    VER CODIGO QR
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <br />
                                                    * Te recomendamos guardarlo en tu dispositivo móvil o imprimirlo. Es indispensable que se muestre diariamente para el beneficio.
                                                    <br />
                                                    Enhorabuena, ¡Gracias! <br /><br />

                                                    <center><img src="https://i.imgur.com/llGWq6s.png" width="30%" /></center>

                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                                <tr>
                                    <td height="20" style="font-size:10px; line-height:10px;"></td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                    <tr>
                        <td height="45" style="font-size:10px; line-height:10px;"> </td>
                    </tr>
                </table>

                <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#f6f6f6">
                    <tr>
                        <td height="40" style="font-size:10px; line-height:10px;"> </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
                                <tr>
                                    <td width="600" class="mobile" align="center">

                                        <table width="450" class="mobile">
                                            <tr>
                                                <td align="center" style="font-family:arial; font-size:12px; line-height:18px; color:#aeaeae;">
                                                    Gestor de comedores
                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                                <tr>
                                    <td height="20" style="font-size:10px; line-height:10px;"></td>
                                </tr>
                                <tr>
                                    <td width="600" class="mobile" style="font-family:arial; font-size:12px; line-height:18px; color:#aeaeae;" align="center">

                                        &copy; 2017 Gestor de comedores. - All Rights Reserved

                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="40" style="font-size:10px; line-height:10px;"> </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
