{% extends 'base.html' %}

{% block titlePage %} - {{title}}{% endblock %}

{% block title %}
<div class="content-heading">
    {{title}}
    <small></small>
</div>
{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading"></div>
    <div class="panel-body">
        <form role="form" method="post">
            {% csrf_token %}
            <div class='col-sm-12'>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li>
                        {% if message.level == 40 %}
                        <div role="alert" class="alert alert-danger">{{ message }}</div>
                        {% elif message.level == 25 %}
                        <div role="alert" class="alert alert-success">{{ message }}</div>
                        {% elif message.level == 30 %}
                        <div role="alert" class="alert alert-warning">{{ message }}</div>
                        {% else %}
                        <div role="alert" class="alert alert-info">{{ message }}</div>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class='row'>
                    <div class='col-md-6'>
                        <div class="form-group">
                            <label>Escuela</label>
                            <input name="name" type="text" placeholder="Nombre de la escuela" value="{{model.name}}" class="form-control" required />
                        </div>

                        <div class="form-group">
                            <label>Municipio</label>
                            <select id="city" name="city" class="form-control m-b" required>
                                {% for city in cities %}
                                <option value="{{city.id}}" {% if model and model.city_id == city.id %}selected{% endif %}>{{city.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class='col-md-6'>
                        <div class="form-group">
                            <label>Correo electrónico</label>
                            <input id="email1" type="email" placeholder="Correo electrónico" value="{{model.user.email}}" class="form-control" {% if model %}disabled{% else %}name="email"{% endif %} required />
                        </div>
                        <div class="form-group">
                            <label>Verificar Correo electrónico</label>
                            <input id="email2" type="email" placeholder="Verificar Correo electrónico" value="{{model.user.email}}" class="form-control" {% if model %}disabled{% endif %} required />
                        </div>
                    </div>
                    <div class='col-md-12'>
                        <label>Dirección</label>
                        <textarea name="address" class="form-control" placeholder="Dirección de la escuela">{{model.address}}</textarea>
                    </div>
                </div>
                <br />
                <button type="submit" class="btn btn-sm btn-primary">Guardar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $("select").chosen()
    window.onload = function () {
        document.getElementById("email1").onchange = validatePassword;
        document.getElementById("email2").onchange = validatePassword;
    }
    function validatePassword() {
        var pass2=document.getElementById("email2").value;
        var pass1=document.getElementById("email1").value;
        if(pass1!=pass2)
            document.getElementById("email2").setCustomValidity("Los email no coinciden");
        else
            document.getElementById("email2").setCustomValidity('');
    }
</script>
{% endblock %}