{% extends 'base.html' %}
{% load static %}

{% block titlePage %} - Alumnos{% endblock %}

{% block title %}
<div class="content-heading">
    Alumnos
    <small></small>
</div>
{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading"></div>
    <div class="panel-body">
        <a href='/students/add' class="pull-right mb-sm btn btn-info">Agregar</a>
        <div class="table-responsive" style="margin-top: 3em;">
            <table id="dataTable" class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Escuela</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Carrera</th>
                        <th>Email</th>
                        <th>Descargar</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(function(){
    let editButton = '<a href="#" class="mb-sm btn btn-warning">Editar</a>'
    let deleteButton = '<button class="mb-sm btn btn-danger" data-singleton="true" data-toggle="confirmation" data-placement="left" data-btn-ok-label="Aceptar" data-btn-ok-icon="fa fa-check" data-btn-ok-class="btn-success" data-btn-cancel-label="Cancelar" data-btn-cancel-icon="fa fa-ban" data-btn-cancel-class="btn-danger" data-title="¿Estas seguro?" data-content="Esta acción no se puede revertir"> Eliminar </button>'

    let lastClicked = null
    let table = $('#dataTable').DataTable({
        'responsive': true,
        'processing': true,
        'ordering': false,
        'serverSide': true,
        'ajax': '/api/students/',
        'columnDefs': [ {
            'targets': -1,
            'data': null,
            'defaultContent': editButton + ' ' + deleteButton
        } ],
        'searchDelay': 1000,
        'language': { 'url': '{% static "i18n/datatable.json" %}' },
        'fnInitComplete': (oSettings, json) => {
            $('[data-toggle=confirmation]').on('click', function () {
                var data = table.row( $(this).parents('tr') ).data()
                lastClicked = data[0]
            } )
            $('[data-toggle=confirmation]').confirmation({
                onConfirm: () => {
                    $.post('/api/students/', { id: lastClicked }, () => {
                        window.location.reload()
                    })
                }
            })
        }
    })
    $('#dataTable tbody').on( 'click', 'a', function () {
        if ($(this).text() == 'Editar') {
            var data = table.row( $(this).parents('tr') ).data()
            window.location = '/students/' + data[0]
        }
    })

})

function downloadQR (url, filename) {
        var req = new XMLHttpRequest();
        req.open("POST", url, true);
        req.responseType = "blob";

        req.onload = function (event) {
            var blob = req.response;
            var link = document.createElement('a');
            link.href = window.URL.createObjectURL(blob);
            link.download = filename;
            link.click();
        };

        req.send();
        return false
    }
</script>
{% endblock %}
