{% extends 'base.html' %}

{% block titlePage %} - {{title}}{% endblock %}

{% block title %}
<div class="content-heading">
    {{title}}
    <small></small>
</div>
{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading"></div>
    <div class="panel-body">
        <form role="form" method="post">
            {% csrf_token %}
            <div class='col-sm-12'>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li>
                        {% if message.level == 40 %}
                        <div role="alert" class="alert alert-danger">{{ message }}</div>
                        {% elif message.level == 25 %}
                        <div role="alert" class="alert alert-success">{{ message }}</div>
                        {% elif message.level == 30 %}
                        <div role="alert" class="alert alert-warning">{{ message }}</div>
                        {% else %}
                        <div role="alert" class="alert alert-info">{{ message }}</div>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class='row'>
                    <div class='col-md-6'>
                        <div class="form-group">
                            <label>Nombre(s)</label>
                            <input type="text" placeholder="Nombre" value="{{model.first_name}}" class="form-control" name="first_name" required />
                        </div>
                        <div class="form-group">
                            <label>Correo electrónico</label>
                            <input type="email" placeholder="Correo electrónico" value="{{model.email}}" class="form-control" name="email" required />
                        </div>
                    </div>
                    <div class='col-md-6'>
                        <div class="form-group">
                            <label>Apellidos</label>
                            <input type="text" placeholder="Apellidos" value="{{model.last_name}}" class="form-control" name="last_name" required />
                        </div>
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <div class="checkbox c-checkbox">
                                <label>
                                    <input name="is_superuser" type="checkbox" {% if model and model.is_superuser %}checked{% endif %} />
                                    <span class="fa fa-check"></span>Es super usuario
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <button type="submit" class="btn btn-sm btn-primary">Guardar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
