{% extends 'base.html' %}
{% load static %}

{% block titlePage %} - Usuarios{% endblock %}

{% block title %}
<div class="content-heading">
    Usuarios
    <small></small>
</div>
{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading"></div>
    <div class="panel-body">
        <a href='/users/add' class="pull-right mb-sm btn btn-info">Agregar</a>
        <div class="table-responsive" style="margin-top: 3em;">
            <table id="dataTable" class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(function(){
    let editButton = '<a href="#" class="mb-sm btn btn-warning">Editar</a>'
    let deleteButton = '<button class="mb-sm btn btn-danger" data-singleton="true" data-toggle="confirmation" data-placement="left" data-btn-ok-label="Aceptar" data-btn-ok-icon="fa fa-check" data-btn-ok-class="btn-success" data-btn-cancel-label="Cancelar" data-btn-cancel-icon="fa fa-ban" data-btn-cancel-class="btn-danger" data-title="¿Estas seguro?" data-content="Esta acción no se puede revertir"> Eliminar </button>'

    let lastClicked = null
    let table = $('#dataTable').DataTable({
        'responsive': true,
        'processing': true,
        'ordering': false,
        'serverSide': true,
        'ajax': '/api/users/',
        'columnDefs': [ {
            'targets': -1,
            'data': null,
            'defaultContent': editButton + ' ' + deleteButton
        } ],
        'searchDelay': 1000,
        'language': { 'url': '{% static "i18n/datatable.json" %}' },
        'fnInitComplete': (oSettings, json) => {
            $('[data-toggle=confirmation]').on('click', function () {
                var data = table.row( $(this).parents('tr') ).data()
                lastClicked = data[0]
            } )
            $('[data-toggle=confirmation]').confirmation({
                onConfirm: () => {
                    $.post('/api/users/', { id: lastClicked }, () => {
                        window.location.reload()
                    })
                }
            })
        }
    })
    $('#dataTable tbody').on( 'click', 'a', function () {
        var data = table.row( $(this).parents('tr') ).data()
        window.location = '/users/' + data[0]
    } )

})
</script>
{% endblock %}
