{% extends 'base.html' %}

{% block titlePage %} - {{title}}{% endblock %}

{% block title %}
<div class="content-heading">
    {{title}}
    <small></small>
</div>
{% endblock %}

{% block css %}
<style>
.ms-container {
    width: 100%;
}
</style>
{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading"></div>
    <div class="panel-body">
        <form role="form" method="post">
            {% csrf_token %}
            <div class='col-sm-12'>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li>
                        {% if message.level == 40 %}
                        <div role="alert" class="alert alert-danger">{{ message }}</div>
                        {% elif message.level == 30 %}
                        <div role="alert" class="alert alert-warning">{{ message }}</div>
                        {% else %}
                        <div role="alert" class="alert alert-info">{{ message }}</div>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class='row'>
                    <div class='col-md-6'>
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" placeholder="Nombre del periodo. ex: (Perido Enero-Agosto 2017)" class="form-control" value="{{model.name}}" name="name" required />
                        </div>
                        <div class="form-group">
                            <label>Fecha de Inicio</label>
                            <input type="text" placeholder="Fecha de Inicio" class="form-control" name="start_date" required />
                        </div>
                    </div>
                    <div class='col-md-6'>
                        <div class="form-group" style="opacity: 0;">
                            <label>&nbsp;</label>
                            <input type="text" class="form-control" readonly />
                        </div>
                        <div class="form-group">
                            <label>Fecha Final</label>
                            <input type="text" placeholder="Fecha Final" class="form-control" name="end_date" required />
                        </div>
                    </div>
                </div>
                <h4>Seleccionar Escuelas</h4>
                <div class="form-group">
                    <select multiple="multiple" name="schools">
                        {% for school in schools %}
                        <option value="{{school.id}}-{{school.name}}" {% if school.pk in selecteds %}selected{% endif %}>{{school.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <br />
                <h4>Seleccionar Alumnos</h4>
                <div class="form-group">
                    <select id="school" data-placeholder="Selecciona una escuela" class="form-control">
                    </select>
                    <br /><br />
                    <select multiple="multiple" id="students">
                    </select>
                </div>
                <br />
                <button type="submit" class="btn btn-sm btn-primary">Guardar</button>
                <input type="hidden" name="students" />
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(function() {

    let options = {
        orientation: 'bottom',
        language: 'es',
        autoclose: true
    }
    $('input[name="start_date"]').datepicker(options).on('changeDate', (e) => {
        $('input[name="end_date"]').datepicker('setStartDate', e.date)
    })
    $('input[name="end_date"]').datepicker(options).on('changeDate', (e) => {
        $('input[name="start_date"]').datepicker('setEndDate', e.date)
    })
    $('input[name="start_date"]').datepicker('setDate', '{{model.start_date|date:"%d/%m/%Y"}}')
    $('input[name="end_date"]').datepicker('setDate', '{{model.end_date|date:"%d/%m/%Y"}}')

    let schools = [
        {% for selected in selectedsName %}
        '{{selected.name}}'{% if forloop.last is False %},{% endif %}
        {% endfor %}
    ]
    let students = {
        {% for selected in selectedsName %}
        '{{selected.name}}': {{selected.students}}{% if forloop.last is False %},{% endif %}
        {% endfor %}
    }
    let lastSchool = null
    let wasSelected = false
    $('input[name="students"]').val(JSON.stringify(students))

    $("#school").chosen()
    $('select[name="schools"]').multiSelect({
        selectableHeader: "<span class='btn btn-primary' onclick='select_all_school()'>Seleccionar todos</span><br /><input type='text' class='search-input form-control' autocomplete='off' placeholder='Buscar' />",
        selectionHeader: "<span class='btn btn-primary' onclick='deselect_all_school()'>Deseleccionar todos</span><br /><input type='text' class='search-input form-control' autocomplete='off' placeholder='Buscar' />",
        afterInit: function(ms){
            var that = this,
            $selectableSearch = that.$selectableUl.prev(),
            $selectionSearch = that.$selectionUl.prev(),
            selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
            selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';

            window.q = $selectableSearch
            that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
            .on('keydown', function(e){
                if (e.which === 40){
                    that.$selectableUl.focus();
                    return false;
                }
            });

            that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
            .on('keydown', function(e){
                if (e.which == 40){
                    that.$selectionUl.focus();
                    return false;
                }
            });
        },
        afterSelect: function(values){
            this.qs1.cache();
            this.qs2.cache();
            values.forEach((item, indexx) => {
                students[item] = []
                schools.push(item)
            })
            loadSchools()
            $('input[name="students"]').val(JSON.stringify(students))
        },
        afterDeselect: function(values){
            this.qs1.cache();
            this.qs2.cache();
            values.forEach((item, indexx) => {
                let index = schools.indexOf(item)
                if (index !== -1) {
                    students[item] = []
                    schools.splice(index, 1)
                }
            })
            loadSchools()
            $('input[name="students"]').val(JSON.stringify(students))
        }
    })

    $('#students').multiSelect({
        selectableHeader: "<span class='btn btn-primary' onclick='select_all_student()'>Seleccionar todos</span><br /><input type='text' class='search-input form-control' autocomplete='off' placeholder='Buscar' />",
        selectionHeader: "<span class='btn btn-primary' onclick='deselect_all_student()'>Deseleccionar todos</span><br /><input type='text' class='search-input form-control' autocomplete='off' placeholder='Buscar' />",
        afterInit: function(ms){
            var that = this,
            $selectableSearch = that.$selectableUl.prev(),
            $selectionSearch = that.$selectionUl.prev(),
            selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
            selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';

            window.q = $selectableSearch
            that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
            .on('keydown', function(e){
                if (e.which === 40){
                    that.$selectableUl.focus();
                    return false;
                }
            });

            that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
            .on('keydown', function(e){
                if (e.which == 40){
                    that.$selectionUl.focus();
                    return false;
                }
            });
        },
        afterSelect: function(values){
            this.qs1.cache();
            this.qs2.cache();
            values.forEach((item, indexx) => {
                students[lastSchool].push(parseInt(item))
            })
            $('input[name="students"]').val(JSON.stringify(students))
        },
        afterDeselect: function(values){
            this.qs1.cache();
            this.qs2.cache();
            values.forEach((item, indexx) => {
                let index = students[lastSchool].indexOf(parseInt(item))
                if (index >= 0) {
                    students[lastSchool].splice(index, 1)
                }
            })
            $('input[name="students"]').val(JSON.stringify(students))
        }
    })

    let loadSchools = () => {
        let res = ''
        if (!wasSelected) {
            res = '<option value="-1">Selecciona una escuela</option>'
        }
        schools.forEach((obj, index) => {
            let data = obj.split('-')
            res += '<option value="' + data[0] + '-' + data[1] + '">' + data[1] + '</option>'
        })
        $('#school').html(res)
        $("#school").trigger("chosen:updated")
    }

    $('#school').on('change', (e) => {
        wasSelected = true
        lastSchool = $('#school').val()
        let idSchool = lastSchool.split('-')[0]
        if (idSchool.length == 0) {
            return
        }
        $.get('/api/students/?id_school=' + idSchool[0], (data) => {
            $('#students').html('')
            let res = ''
            data.data.forEach((obj, index) => {
                if ( students[lastSchool].indexOf(parseInt(obj[0])) >= 0 ) {
                    res += '<option value="' + obj[0] + '" selected>' + obj[3] + ' ' + obj[2] + ' (' + obj[4] + ')' + '</option>'
                }else{
                    res += '<option value="' + obj[0] + '">' + obj[3] + ' ' + obj[2] + ' (' + obj[4] + ')' + '</option>'
                }
            })
            $('#students').html(res)
            $('#students').multiSelect('refresh')
        })
    })

    loadSchools()

    window.select_all_school = () => {
        $('select[name="schools"]').multiSelect('select_all');
    }
    window.deselect_all_school = () => {
        $('select[name="schools"]').multiSelect('deselect_all');
    }

    window.select_all_student = () => {
        $('#students').multiSelect('select_all');
    }
    window.deselect_all_student = () => {
        $('#students').multiSelect('deselect_all');
    }
})
</script>
{% endblock %}
