{% extends 'base.html' %}

{% block titlePage %} - Nuevo Periodo{% endblock %}

{% block title %}
<div class="content-heading">
    Nuevo Periodo
    <small></small>
</div>
{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading"></div>
    <div class="panel-body">
        <form role="form" method="post">
            {% csrf_token %}
            <div class='col-sm-12'>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li>
                        {% if message.level == 40 %}
                        <div role="alert" class="alert alert-danger">{{ message }}</div>
                        {% elif message.level == 25 %}
                        <div role="alert" class="alert alert-success">{{ message }}</div>
                        {% elif message.level == 30 %}
                        <div role="alert" class="alert alert-warning">{{ message }}</div>
                        {% else %}
                        <div role="alert" class="alert alert-info">{{ message }}</div>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class='row'>
                    <div class='col-md-6'>
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" placeholder="Nombre del periodo. ex: (Perido Enero-Agosto 2017)" class="form-control" name="name" required />
                        </div>
                        <div class="form-group">
                            <label>Fecha de Inicio</label>
                            <input type="text" placeholder="Fecha de Inicio" class="form-control" name="start_date" required />
                        </div>
                    </div>
                    <div class='col-md-6'>
                        <div class="form-group" style="opacity: 0;">
                            <label>&nbsp;</label>
                            <input type="text" class="form-control" readonly />
                        </div>
                        <div class="form-group">
                            <label>Fecha Final</label>
                            <input type="text" placeholder="Fecha Final" class="form-control" name="end_date" required />
                        </div>
                    </div>
                </div>
                <br />
                <button type="submit" class="btn btn-sm btn-primary">Guardar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(function() {
    let options = {
        orientation: 'bottom',
        language: 'es',
        autoclose: true
    }
    $('input[name="start_date"]').datepicker(options).on('changeDate', (e) => {
        $('input[name="end_date"]').datepicker('setStartDate', e.date)
    })
    $('input[name="end_date"]').datepicker(options).on('changeDate', (e) => {
        $('input[name="start_date"]').datepicker('setEndDate', e.date)
    })

})
</script>
{% endblock %}
