{% extends 'base.html' %}

{% block titlePage %} - Inicio{% endblock %}

{% block title %}
<div class="content-heading">
	GENERAR Y DESCARGAR REPORTE
	<small>{{subtitle}}</small>
</div>
{% endblock %}

{% block content %}
<p>
	<div id="panelChart9" class="panel panel-default panel-demo">
		<div class="panel-heading">
			<div class="panel-title">Seleccionar Periodo</div>
			<select id="event">
				{% for event in events %}
				<option value="{{event.pk}}">{{event.name}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="panel-wrapper collapse in" aria-expanded="true" style="">
			<div class="panel-body">
				{% if events %}
				<button id="generate" class="btn btn-primary">GENERAR PDF</button>
				{% else %}
				No hay ningun periodo creado aún
				{% endif %}
			</div>
		</div>
	</div>
</p>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$('select').chosen();

	$('#generate').on('click', (e) => {
		e.preventDefault()
		let eventId = $('#event').val()

		var req = new XMLHttpRequest();
		req.open("POST", '/report/' + eventId + '/', true);
		req.responseType = "blob";

		req.onload = function (event) {
			var blob = req.response;
			console.log(blob.size);
			var link = document.createElement('a');
			link.href = window.URL.createObjectURL(blob);
			link.download = eventId + "_" + new Date() + ".pdf";
			link.click();
		};

		req.send();
	})
</script>
{% endblock %}