<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<center>
		<table>
			<tbody>
				<tr>
					<td><img src='{{url}}' /></td>
				</tr>
				{% if student %}
				<tr>
					<td>
						<center>
							<strong style="font-size: 1.4em;">
								{{student.school.name}} <br />
								{{student.last_name}} {{student.first_name}}
							</strong>
						</center>
					</td>
				</tr>
				{% endif %}
			</tbody>
		</table>
	</center>
</body>
</html>