{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <title>Gestor de Comedores - Restaurar contraseña</title>

   <link rel="stylesheet" href="{% static 'vendor/fontawesome/css/font-awesome.min.css' %}">
   <link rel="stylesheet" href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}">
   <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" id="bscss">
   <link rel="stylesheet" href="{% static 'css/app.css' %}" id="maincss">
</head>
<body>
   <div class="wrapper">
      <div class="block-center mt-xl wd-xl">
         <div class="panel panel-dark panel-flat">
            <div class="panel-heading text-center">
                <span>Gestor de Comedores</span>
            </div>
            <div class="panel-body">
               <form role="form" method="post" class="mb-lg">
                 {% csrf_token %}
                  <div class="form-group has-feedback">
                     <input name="email" type="email" placeholder="Correo electrónico" autocomplete="off" required class="form-control">
                     <span class="fa fa-envelope form-control-feedback text-muted"></span>
                  </div>
                  {% if messages %}
                  <ul class="messages">
                      {% for message in messages %}
                      <li>
                          <div role="alert" class="alert alert-danger">{{ message }}</div>
                      </li>
                      {% endfor %}
                  </ul>
                  {% endif %}
                  <button type="submit" class="btn btn-block btn-primary mt-lg">Enviar correo de restauración</button>
               </form>
            </div>
         </div>

         <div class="p-lg text-center">
            <span>&copy;</span>
            <span>2017</span>
            <span>-</span>
            <span>Revsys</span>
         </div>
      </div>
   </div>
 </body>
 </html>
