{% extends 'base.html' %}

{% block titlePage %} - Mi perfil{% endblock %}

{% block title %}
<div class="content-heading">
    Mi perfil
    <small></small>
</div>
{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading"></div>
    <div class="panel-body">
        <form role="form" method="post">
            {% csrf_token %}
            <div class='col-sm-12'>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li>
                        {% if message.level == 40 %}
                        <div role="alert" class="alert alert-danger">{{ message }}</div>
                        {% elif message.level == 25 %}
                        <div role="alert" class="alert alert-success">{{ message }}</div>
                        {% elif message.level == 30 %}
                        <div role="alert" class="alert alert-warning">{{ message }}</div>
                        {% else %}
                        <div role="alert" class="alert alert-info">{{ message }}</div>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class='row'>
                    <div class='col-md-6'>
                        <div class="form-group">
                            <label>Nombre(s)</label>
                            <input type="text" placeholder="Nombre" value="{{request.user.first_name}}" class="form-control" name="first_name" required />
                        </div>
                        <div class="form-group">
                            <label>Correo electrónico</label>
                            <input type="email" placeholder="Correo electrónico" value="{{request.user.email}}" class="form-control" name="email" required />
                        </div>
                        <div class="form-group">
                            <label>Contraseña Actual</label>
                            <input type="password" placeholder="Ingresa tu contraseña actual si cambiaras tu email o contraseña" class="form-control" name="password" />
                        </div>
                    </div>
                    <div class='col-md-6'>
                        <div class="form-group">
                            <label>Apellidos</label>
                            <input type="text" placeholder="Apellidos" value="{{request.user.last_name}}" class="form-control" name="last_name" required />
                        </div>
                        <div class="form-group">
                            <label>Nueva Contraseña</label>
                            <input type="password" placeholder="Ingresa una contraseña si deseas cambiarla" class="form-control" name="new_password" />
                        </div>
                    </div>
                </div>
                <br />
                <button type="submit" class="btn btn-sm btn-primary">Guardar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
